@font-face {
  font-family: "Hanna";
  src: url("fonts/BMHANNAAir_ttf.ttf");
}

body {
  margin: 0;
  font-family: 'Hanna', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background: #7fbfdd;
  color: white;
  padding: 1rem 0;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  background: #ffffff;
  padding: 0.5rem 0;
}
nav a {
  color: #303030;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}
nav a:hover {
  background: lightblue;
}
section {
  padding: 2rem;
  text-align: center;
}
.hero {
  background-color: #8e8e8e;
  color: white;
  padding: 5rem 1rem;
}
.hero h1 {
  font-size: 2.5rem;
}
.timeline {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.timeline div {
  background: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 30%;
}
.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}
#past:hover {
  background-color: lightblue;
  color: white;
  cursor: pointer;
}
#present:hover {
  background-color: lightblue;
  color: white;
  cursor: pointer;
}
#future:hover {
  background-color: lightblue;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .timeline div {
    width: 90%;
  }
}